@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

main {
    width: 100%;
    max-width: 1440px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.sedan {
    width: 269px;
    padding: 15px;
    min-height: 430px;
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.suvs {
    width: 269px;
    padding: 15px;
    min-height: 430px;
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    width: 269px;
    padding: 15px;
    min-height: 430px;
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content {
    padding: 30px 15px 15px 15px;
}

h1 {
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    margin: 20px 0;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca';
    font-weight: 400;
}

button {
    margin: 60px 0;
    padding: 15px 40px;
    border: 0;
    border-radius: 30px;
    outline: none;
    background-color: #FFF;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Lexend Deca';
    font-weight: 400;
}

.btn1 {
    color: hsl(31, 77%, 52%);
}

.btn2 {
    color: hsl(184, 100%, 22%);
}

.btn3 {
    color: hsl(179, 100%, 13%);
}

button:hover {
    background-color: transparent;
    border: 1px solid #FFF;
    color: #FFF;
    transition: 0.4s;
}